body {
    padding: 0;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    font-family: sans-serif;
  }

  .navbar {
    grid-column: span 2 / span 2;
    width: 100%;
    height: 1000px;
    background-color: black;
    font-size: 20px;
  }

  .list-menu {
    padding: 0;
    margin: 0;
  }

  .list-menu>li {
    list-style: none;
    text-align: start;
  }

  .list-menu>li>a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
  }

  .items {
    padding: 15px 10px;
    border-bottom: 1px solid gray;
  }

  .content {
    grid-column: span 10 / span 10;
    padding: 0 40px;
    margin: 0px 30px;
    width: 100%;
  }

  .content-image {
    width: 270px;
    height: 110px;
  }

  .img {
    margin: 15px 0 25px 0;
  }

  .main-content {
    background-color: gainsboro;
    text-align: center;
    padding: 20px 30px;
  }

  .tile-main {
    font-size: 18px;
  }

  .content-main {
    margin: 0 170px;
  }

  .form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
  }

  .feature-layout {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /* PC, Tablet */
  @media (min-width: 740px) {
    .feature-layout {
      flex-direction: row;
    }
  }

  /* Dung chung  */
  .container {
    max-width: 1536px;
  }

  .mx-auto {
    margin: 0 auto;
  }

  .flex {
    display: flex;
  }